body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color:white;
    color: black;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url(pic5.jpg);
}

.title{

	height:100px;
}

 .title h1{
    background-color:red;
     color:white;
     text-align:center;
}


h4{
	color:white;
	margin:auto;
	width:50%;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    text-align:center;
}


input[type=text],input[type=password],select{
    background-color:white;
    color: black;
    border: none;
    font-size: 100%;
    letter-spacing: 0.2em;
    font-family: Helvetica, sans-serif;
}

input[type=submit]{
    background-color: red;
    color: white;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 16px;


}

input[type=submit]:hover{
    background-color: white;
    color: black;
}

fieldset{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    text-align:center;
    background-color:black;
}


h5{
    text-decoration: none;
    color:white;
    background-color:red;
   } 

h5:hover{
background-color: white;
     color:black;
}
	
.title2 {
    display: flex;
    font-size: 3em;
    height: 80px;
    align-items:center;
    justify-content:center;
   
}

